<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  <!--<servlet>-->
    <!--<servlet-name>LogginServlet</servlet-name>-->
    <!--<servlet-class>com.laba3.controllers.LogginServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>registration</servlet-name>-->
    <!--<jsp-file>/jsp/registration.jsp</jsp-file>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>registration</servlet-name>-->
    <!--<url-pattern>/registration</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>LogginServlet</servlet-name>-->
    <!--<url-pattern>/</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet>-->
    <!--<servlet-name>ListServlet</servlet-name>-->
    <!--<servlet-class>com.laba3.controllers.ListServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ListServlet</servlet-name>-->
    <!--<url-pattern>/listUser</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet>-->
    <!--<servlet-name>AdminServlet</servlet-name>-->
    <!--<servlet-class>com.laba3.controllers.AdminServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>AdminServlet</servlet-name>-->
    <!--<url-pattern>/admin</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet>-->
    <!--<servlet-name>RegistrServlet</servlet-name>-->
    <!--<servlet-class>com.laba3.controllers.RegistrServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>RegistrServlet</servlet-name>-->
    <!--<url-pattern>/register</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet>-->
    <!--<servlet-name>ServletDelete</servlet-name>-->
    <!--<servlet-class>com.laba3.controllers.ServletDelete</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ServletDelete</servlet-name>-->
    <!--<url-pattern>/delete</url-pattern>-->
  <!--</servlet-mapping>-->


  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>WhiteFilter</filter-name>
    <filter-class>com.laba3.controllers.filters.WhiteList</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WhiteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.laba3.controllers.listeners.NewAppStartListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.laba3.controllers.listeners.MySessionListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/Main-servlet.xml</param-value>
  </context-param>
</web-app>
